.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 500px;
}

.Stick {
  height: 200px;
  width: 5px;
  background-color: aliceblue;
  border-radius: 2px;
  transform-origin: bottom center;
}
